<li class="chat-item  {{#if isSelected}}chat-item--selected{{/if}}" data-chat-id="{{id}}">
  <img alt="Аватар чата" class="chat-item__avatar" src="{{avatarSrc}}" />
  <div class="chat-item__content">
    <p class="chat-item__name">{{name}}</p>
    <p class="chat-item__value">
      {{#if author}}
        <span class="chat-item__value-author">{{author}}:</span>
      {{/if}}
      {{value}}
    </p>
  </div>
  <div class="chat-item__info">
    <time class="chat-item__date">
      {{chatDate}}
    </time>
    {{#if count}}
      <div class="chat-item__counter">
        <span>{{count}}</span>
      </div>
    {{/if}}
  </div>
</li>
