<main class="main-wrapper">
  <div class="auth login">
    <form action="" class="auth__form">
      <h1 class="auth__title">
        Вход
      </h1>
      <div class="auth__fields">
        {{{LabeledInput
          validationType="login"
          type="text"
          id="login"
          value="Войти"
          containerClass="auth__field"
        }}}
        {{{LabeledInput
          validationType="password"
          type="password"
          id="password"
          value="Пароль"
          containerClass="auth__field"
        }}}
      </div>
      <div class="auth__buttons">
        {{{Button
          onClick=onClick
          type="submit"
          label="Войти"
          mod="button_primary auth__button"
        }}}
        {{{Link value="Нет аккаунта?" to="/register"}}}
      </div>
    </form>
  </div>
  {{#if error}}
      {{{ErrorModal
          errorMessage=error
      }}}
    {{/if}}
</main>
