<div class="input {{containerClass}}" data-validation="{{validationType}}">
  <label class="input__label" for="{{id}}">{{value}}</label>
  {{{Input
    onBlur=onBlur
    onFocus=onFocus
    errorField=errorField
    class=class
    type=type
    name=name
    id=id
    placeholder=placeholder
    defaultValue=defaultValue
  }}}
  <p class="input__error-message">
    {{errorMessage}}
  </p>
</div>
