<div class="chat">
  <div class="chat__list">
    <div class="chat__list-header">
      <div class="chat__list-header-controls">
        {{{Button mod="chat__create-button" onClick=onCreateButtonClick}}}
        {{{Link value="Профиль" mod="chat__profile-link" to="/profile"}}}
      </div>
      {{{SearchInput}}}
    </div>
    <div class="chat__list-wrapper">
      {{{ChatList}}}
    </div>
  </div>
  <div class="chat-field">
    <div class="chat-field__container">
      {{#if chatTitle}}
      <div class="chat-field__header">
        <img
          alt="Аватар пользователя"
          class="chat-field__avatar"
          src="{{avatar}}"
        />
        <p class="chat-field__name">{{chatTitle}}</p>
        {{{Button onClick=onSettingsClick mod='chat-field__settings'}}}
        {{#if isSettingsOpen}}
            <div class="chat-field__popover">
                {{{Button onClick=onAddUserClick mod='chat-field__popover-button' label='Добавить пользователя'}}}
                {{{Button onClick=onDeleteUserClick mod='chat-field__popover-button' label='Удалить пользователя'}}}
            </div>
        {{/if}}
      </div>
      <div class="chat-field__content">
        <div class="message-group">
            {{{Messages}}}
        </div>
        {{#if addUserModalIsOpen}}
          {{{UserModal cb=onAddUser title='Добавить пользователя'}}}
        {{/if}}
        {{#if deleteUserModalIsOpen}}
          {{{UserModal cb=onDeleteUser title='Удалить пользователя'}}}
        {{/if}}
      </div>
      <div class="chat-field__footer">
        <form class="chat-field__message-form">
          <button class="chat-field__attach-button">
            <img alt="Прикрепить" src="{{attachImage}}" />
          </button>

          <input
            class="chat-field__message-input"
            type="text"
            placeholder="Сообщение"
          />
          {{{Button onClick=onSendMessage mod='button_primary chat-field__send-button'}}}
        </form>
      </div>
        {{else}}
          Выберите  чат
        {{/if}}
    </div>
  </div>
  {{#if createModalIsOpen}}
    {{{ErrorModal cb=createChat}}}
  {{/if}}
</div>
