<div class="modal">
  <div class="modal__content">
    <h3 class="modal__title {{titleClass}}">{{title}}</h3>
    {{{LabeledInput label="Логин" defaultValue="ivanivanov"}}}
    {{{Button mod="button_primary" label="Добавить"}}}
    <p class="modal__error-message">{{errorMessage}}</p>
  </div>
</div>
