<main class="main-wrapper">
  <div class="profile">
    <nav class="profile__nav">
      {{{Link to='/profile' mod="profile__nav-link"}}}
    </nav>
    <div class="profile__main">
      <form class="profile__form" action="post">
        {{{Avatar imageSrc=profileImage}}}
        <ul class="profile__data-list">
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="required"
              containerClass="profile__data-field"
              id="oldPassword"
              type="password"
              value="Старый пароль"
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="password"
              containerClass="profile__data-field"
              id="newPassword"
              type="password"
              value="Новый пароль"
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="required"
              containerClass="profile__data-field"
              type="password"
              id='repeatPassword'
              value="Повторите новый пароль"
            }}}
          </li>
        </ul>
        {{{Button
          type="submit"
          mod="button_primary profile__data-save-button"
          label="Сохранить"
          onClick=onClick
        }}}
      </form>
    </div>
  </div>
</main>
