<main class="main-wrapper">
  <div class="profile">
    <nav class="profile__nav">
      {{{Link to='/profile' mod="profile__nav-link"}}}
    </nav>
    <div class="profile__main">
      <form class="profile__form" action="post">
        {{{Avatar imageSrc=avatar mod='avatar--edit' cb=openModal}}}
        <ul class="profile__data-list">
          <li class="profile__data-item">
            {{{LabeledInput
              containerClass="profile__data-field"
              validationType="email"
              id="email"
              type="email"
              value="Почта"
              defaultValue=email
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="login"
              containerClass="profile__data-field"
              id="login"
              type="text"
              value="Логин"
              defaultValue=login
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="name"
              containerClass="profile__data-field"
              id="first_name"
              type="text"
              value="Имя"
              defaultValue=first_name
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="name"
              containerClass="profile__data-field"
              id="second_name"
              type="text"
              value="Фамилия"
              defaultValue=second_name
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="required"
              containerClass="profile__data-field"
              id="display_name"
              type="text"
              value="Имя в чате"
              defaultValue=display_name
            }}}
          </li>
          <li class="profile__data-item">
            {{{LabeledInput
              validationType="phone"
              containerClass="profile__data-field"
              id="phone"
              type="tel"
              value="Телефон"
              defaultValue=phone
            }}}
          </li>
        </ul>
        {{{Button
          type="submit"
          mod="button_primary profile__data-save-button"
          label="Сохранить"
          onClick=onClick
        }}}
      </form>
    </div>
  </div>
  {{#if isModalOpen}}
    {{{FileModal title='выберите аватар'}}}
  {{/if}}
</main>
