<div class="modal">
  <div class="modal__content">
    <h3 class="modal__title {{titleClass}}">{{title}}</h3>
    {{{FileInput id="avatar" value="Выбрать файл на компьютере"}}}
    {{{Button mod="button_primary" label="Поменять"}}}
    <p class="modal__error-message">{{errorMessage}}</p>
  </div>
</div>
