<main class="main-wrapper">
  <div class="profile">
    <nav class="profile__nav">
      {{{Link to='/chats' mod="profile__nav-link"}}}
    </nav>
    <div class="profile__main">
      {{{Avatar imageSrc=avatar name="Иван"}}}
      <ul class="profile__data-list">
        <li class="profile__data-item">
          {{{LabeledInput
            containerClass="profile__data-field input_disabled"
            type="text"
            value="Почта"
            defaultValue=email
          }}}
        </li>
        <li class="profile__data-item">
          {{{LabeledInput
            containerClass="profile__data-field input_disabled"
            type="text"
            value="Логин"
            defaultValue=login
          }}}
        </li>
        <li class="profile__data-item">
          {{{LabeledInput
            containerClass="profile__data-field input_disabled"
            type="text"
            value="Имя"
            defaultValue=first_name
          }}}
        </li>
        <li class="profile__data-item">
          {{{LabeledInput
            containerClass="profile__data-field input_disabled"
            type="text"
            value="Фамилия"
            defaultValue=second_name
          }}}
        </li>
        <li class="profile__data-item">
          {{{LabeledInput
            containerClass="profile__data-field input_disabled"
            type="text"
            value="Имя в чате"
            defaultValue=display_name
          }}}
        </li>
        <li class="profile__data-item">
          {{{LabeledInput
            containerClass="profile__data-field input_disabled"
            type="text"
            value="Телефон"
            defaultValue=phone
          }}}
        </li>
      </ul>
      <ul class="profile__links">
        <li class="profile__link">
          {{{Link to="/profile/editData" value="Изменить данные"}}}
        </li>
        <li class="profile__link">
          {{{Link
            to="/profile/editPassword"
            value="Изменить пароль"
          }}}
        </li>
        <li class="profile__link">
          {{{Link onClick=onLogout value="Выйти" mod="link_red"}}}
        </li>
      </ul>
    </div>
  </div>
</main>
