<li class="chat-item">
  <img alt="Аватар чата" class="chat-item__avatar" src="{{avatar-src}}" />
  <div class="chat-item__content">
    <p class="chat-item__name">{{name}}</p>
    <p class="chat-item__value">
      <span class="chat-item__value-author">{{author}}:</span>
      {{value}}
    </p>
  </div>
  <div class="chat-item__info">
    <time class="chat-item__date">
      {{chat-date}}
    </time>
    <div class="chat-item__counter">
      <span>{{count}}</span>
    </div>
  </div>
</li>