<div class="input {{containerClass}}">
    <label class="input__label" for='id'>{{value}}</label>
    <input
        type='{{type}}'
        name='{{id}}' 
        id='{{id}}'
        class='input__field {{class}}' 
        placeholder='{{placeholder}}'
        value='{{defaultValue}}'
    />
    <p class="input__error-message">
        {{error-message}}
    </p>
</div>